body {
  background-color: #fdffcd;
}

h1 {
  text-align: center;
  color: #b99380;
  margin: 10px;
}

.container {
  background-color: white;
  box-shadow: 0px 38px 50px #eedbac;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 30px auto;
  max-width: 550px;
}

form {
  text-align: center;
}

.search-bar {
  width: 250px;
  border: none;
  font-size: 16px;
  transition: all 250ms ease-in-out;
  padding: 5px 10px;
  background-color: rgb(238, 219, 172, 0.3);
  border-radius: 6px;
}

.search-bar:hover {
  border: 1px solid grey;
}

.search-button {
  background-color: #e0ffcd;
  color: #3a2c25;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #ffcab0;
  transition: all 250ms ease-in-out;
}

.search-button:hover {
  background-color: #3a2c25;
  color: #e0ffcd;
  cursor: pointer;
}

.date-time {
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  font-family: sans-serif;
  padding: 20px 0px 10px 0px;
  border-top: 1px solid rgb(145, 95, 114, 0.2);
}

a {
  color: #b99380;
}

h3 {
  color: #809474;
  margin-bottom: 0px;
}

.weather-app-city {
  color: #3a2c25;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 40px;
  font-family: sans-serif;
  font-weight: bold;
}

.country {
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 10px;
  opacity: 0.7;
}

.main-details-container {
  display: flex;
  font-family: sans-serif;
}

.emoji {
  font-size: 26px;
  margin: 10px 15px;
}

.temp-value {
  color: #3a2c25;
  font-size: 40px;
  font-weight: bold;
}

.temp-unit {
  margin-top: 8px;
}

.data-grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.weather-app-details {
  opacity: 0.8;
}

.description {
  font-size: 20px;
}

.details-numbers {
  color: rgb(173, 89, 103);
  font-weight: bold;
}
